.aurora-card {
  background: rgb(255, 249, 249); /* glass effect */
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.aurora-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 50px rgba(255, 0, 0, 0.6);
}
